.container {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 8rem;
    background-color: var(--color-grey-light-2);
    box-shadow:  0 2rem  6rem rgba($color: #000000, $alpha: .3);
    min-height: 30rem;

   
    
}

.content {
    display: flex;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-grey-light-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.hotel-view {
    background-color: #fff;
    flex: 1;
    height: 80rem;
}

.detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
}   

.description {
    background-color: #fff;
    box-shadow: 0 2rem 5rem rgba($color: #000000, $alpha: 0.6);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;
}

.user-reviews {
    flex: 1;
}