.clothes-carousel {
    height: 20em;
    background-image: url("https://img.freepik.com/free-photo/row-fashionable-clothing-hangers_1232-3003.jpg?w=996&t=st=1680726048~exp=1680726648~hmac=8e3c3595152e09acf6d603fa24077eef9e8264ddd493e6e945c69430b9cca245");

}

.watches-carousel {
    height: 20em;
    background-image: url("https://img.freepik.com/free-photo/macro-view-clock-mechanism_155003-13640.jpg?w=996&t=st=1680727485~exp=1680728085~hmac=636739e8c4744082d9e98bae7966201024983b55b7a8c826bc257d738e13d2f0");

}


.watches-jewelry {
    height: 20em;
    background-image: url("https://img.freepik.com/premium-photo/abstract-background-scattered-diamonds-different-sizes_75780-441.jpg?w=1060");

}


.carousel-container {
    padding-top: .4em;
}