

.cart-container {
    padding: 3em;

    animation: fadeInAnimation ease .8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    .cart {

        padding: 2em;
        
    }

    .cart-list div img {

        width: 80px;
        height: 80px;
        border-radius: 7px;

    }
    .cart-list {
        
        .list-container {
            padding-left: 2em;
        }
    }

    .checkout {
        display: flex;
        justify-content: space-between;
        padding-top: 2em;
        h3 {
            margin-right: 5em;
        }
    }

    .list-icon {

        width: 100%;
        display: flex;
        justify-content: flex-end;

       
        
      
    }
    .icon-success {
        float: right;
        width: 2em;
        height: 2em;
        color: green;
        margin-left: 2em;
    }
    .icon-fail {
        float: right;
        width: 2em;
        height: 2em;
        color: red;
        margin-left: 2em;
    }
}

.delete-button {
    width: 7em;
}