

.cart-container {
    padding: 3em;

    .cart {

        padding: 2em;
        
    }

    .cart-list div img {

        width: 80px;
        height: 80px;
        border-radius: 7px;

    }
    .cart-list {
        
        .list-container {
            padding-left: 2em;
        }
    }


}

.delete-button {
    width: 7em;
}