.profile-container {

    .tab-1 {
        display: flex;

        .text-left {
            width: auto;
            text-align: right;
        }

        .text-right {
            padding-left: 2em;
            width: auto;
            text-align: left;
        }
    }
}

.order-list {

    animation: fadeInAnimation ease .8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    .list-container {
        padding-left: 2em;
    }

    div img {

        width: 80px;
        height: 80px;
        border-radius: 7px;
    }
}
